*{
    font-family: "inconsolata", monospace;
    margin: 0;
}

body{
    display: grid;
    grid-template-columns: 230px 1fr;
}

aside{
    grid-column: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    width: 190px;
    height: 100vh;
    padding: 30px 20px 0px 20px;
    background: linear-gradient(270deg, #2B1275, #181141);
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
nav>img {
    width: 174px;
    height: 174px;
    border-radius: 50%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
nav>a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.back_button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 35px;
}
.back_button>a>img{
    width: 50px;
    height: 50px;
}

main{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.porposal{
    box-sizing: border-box;
    background: #2B1275;
    width: 90%;
    border-radius: 30px;
    height: 200px;
    padding: 30px;
    display: flex;
    align-items: center;    
}

.top_line{
    background-color:black;
    margin: 50px 0;
    border-radius: 20%;
    height: 3px;
    width: 96%;
}

.au{
    background-color: #bababa;
    width: 90%;
    padding: 20px;
    display: flex;
    gap: 20px;
    border-radius: 30px;

}
.development>h1{
    font-size: 40px;
    width: 100%;
    text-align: center;
}
.development_texts{
    font-size: 24px;
}
.development_texts{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bottom_line{
    background-color:black;
    margin: 50px 0;
    border-radius: 20%;
    height: 3px;
    width: 96%;
}

.result{
    width: 90%;
    height: 150px;
    background-color: #2B1275;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}
.result>a{
    color: white;
    font-size: 50px;
    text-decoration: none;
    font-weight: 600;
}